<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seven Health</title>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./newtheme/plugins/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./newtheme/plugins/meanmenu/meanmenu.css">
    <!-- fonts -->
    <link rel="stylesheet" href="./newtheme/fonts/ep-icon-fonts/css/style.css">
    <link rel="stylesheet" href="./newtheme/fonts/fontawesome-5/css/all.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./newtheme/css/settings.css">
    <link rel="stylesheet" href="./newtheme/css/style.css">
</head>

<body>
    <div class="row margin-decrese">
        <div class="col-xl-4 col-lg-5 col-margin">
            <div class="single-footer">
                <div class="footer-title">
                    <a href="/" class="logo">
                        <h1>7<span class="health">Health</span></h1>
                    </a>
                </div>
                <div class="footer-text">
                    <p>Your health is a priority, remember good health is wealth. So stay healthy and stay safe</p>
                    <p>@copyright:SevenAdvancedAcademy2019/2020</p>
                </div>
                <ul class="footer-social-list">
                    <li>
                        <a href="https://www.facebook.com/sevenadvancedacademy">
                            <i class="icon icon-logo-fb-simple"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/SevenAcademy7">
                            <i class="icon icon-logo-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://sevenadvancedacademy.com/">
                            <i class="icon icon-google"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-6 offset-lg-1 col-margin">
            <div class="single-footer">
                <div class="footer-title">
                    <h6>Help Menu</h6>
                </div>
                <ul class="footer-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="/signup">Get Started</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-6 col-margin">
            <div class="single-footer">
                <div class="footer-title">
                    <h6>Support</h6>
                </div>
                <ul class="footer-list">
                    <li><a href="">Contact</a></li>
                    <li><a href="">Help & Support</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-margin">
            <div class="single-footer">
                <div class="footer-title">
                    <h6>Products</h6>
                </div>
                <ul class="footer-list">
                    <li><a href="">Seven Health</a></li>
                    <li><a href="">Medical History</a></li>
                    <li><a href="">Medical Statistics</a></li>
                    <li><a href="">Health Tips</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- Vendor JS-->
    <script src="./newtheme/plugins/jquery/jquery.min.js"></script>
    <script src="./newtheme/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="./newtheme/plugins/bootstrap-4.3.1/js/bootstrap.bundle.js"></script>
    <script src="./newtheme/plugins/meanmenu/jquery.meanmenu.js"></script>
    <!-- Plugins JS -->
    <script src="./newtheme/js/active.js"></script>
</body>