<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <!-- Custom fonts for this template -->
    <link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="theme/css/clean-blog.min.css" rel="stylesheet">
    <link rel="stylesheet" href="theme/css/main.css">
</head>

<body>

    <!-- the nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand smooth-scroll" href="#home">Seven E-Health</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link smooth-scroll" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-scroll" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-scroll" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Header -->
    <header id="home" class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1> Seven E-Health </h1>
                        <span class="subheading">Take your medical history with you everywhere you go.</span>
                    </div>
                    <div class="site-heading">
                        <a class="btn btn-primary float-right" href="/login">login</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto" id="about">
                <div class="post-preview">
                    <h2 class="post-title">
                        About Us
                    </h2>
                    </a>
                </div>
                <hr>
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="img/home.jpg" alt="medical pic">
                        <div class="card-body">
                            <h5 class="card-title">What is E-health</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="img/home.jpg" alt="medical pic">
                        <div class="card-body">
                            <h5 class="card-title">What E-Health Offers</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="img/home.jpg" alt="medical pic">
                        <div class="card-body">
                            <h5 class="card-title">How do i use E-health</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Content -->
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" id="contact">
            <div class="post-preview">
                <h2 class="post-title">
                    Contact Us
                </h2>
                </a>
            </div>
            <section id="contact">

                <div class="content-box-md">

                    <div class="container">

                        <div class="row">

                            <div class="col-md-6">

                                <!-- Contact Left -->
                                <div id="contact-left">

                                    <p style="font-size: 18px;">Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit. Alias modi est itaque aliquam sit, minima esse nihil mollitia no.</p>

                                    <div id="offices">

                                        <div class="row">

                                            <div class="office">
                                                <h4>Cameroon</h4>
                                                <ul class="office-details">
                                                    <li><i class="fa fa-mobile"></i><span>+237658066982</span></li>
                                                    <li><i
                                                            class="fa fa-envelope"></i><span>info@sevenadvancedacademy.com</span>
                                                    </li>
                                                    <li><i class="fa fa-map-marker"></i><span>Bali Douala<br>Littoral,
                                                            CMR.</span></li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">

                                <!-- Contact Right -->
                                <div id="contact-right">

                                    <form>
                                        <h4>Send Message</h4>
                                        <p style="font-size: 18px;">Contact our team for any further questions or
                                            concerns.</p>

                                        <div class="row">

                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="name"
                                                        placeholder="Your Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" id="email"
                                                        placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="phone"
                                                        placeholder="Phone No.">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="subject"
                                                        placeholder="Subject">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="message"
                                                placeholder="Message"></textarea>
                                        </div>

                                        <div id="submit-btn">
                                            <a class="btn btn-general btn-primary" href="#" title="Submit"
                                                role="button">Submit</a>
                                        </div>

                                    </form>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted" style="color: white !important;">Copyright &copy;
                        E-Health@SevenAdvanceAcademy: 2020</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- bootstrap Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>