<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
      
      <div class="container emp-profile">
          <form method="post">
              <div class="row">
              <div class="patient col-md-12 col-sm-8 d-flex ">
                <div class="patient_page col-md-8 d-flex col-sm-12">

                  <div class="col-md-6">
                      <div class="profile-img">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                          <div class="file btn btn-lg btn-primary">
                              Change Photo
                              <input type="file" name="file"/>
                          </div>

                      </div>
                      <div class="">
                        <h2 class="m-2">Title:</h2>
                        <p>Some text here</p>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="profile-head">
                                  <h5>
                                      User Info
                                  </h5>
                                  <div class="row">
                                          <div class="mt-2 col-12">
                                              <label>User Id:</label>
                                          </div>
                                          <hr>
                                          <div class="mt-2 col-12">
                                              <label>User Name:</label>
                                          </div>
                                          <hr>
                                          <div class="mt-2 col-12">
                                              <label>User Address:</label>
                                          </div>
                                          <hr>
                                          <div class="mt-4 col-10">
                                              <label>User Gender:</label>
                                          </div>
                                    </div>
                                  </div>
                      <div class="text-read m-6 w-100">
                      <p class="text">
                        Observation: Dont forget to copy your id.
                      </p>
                    </div>
                  </div>
                  
                 </div>
          
          <div class="user_detail col-md-4">
                    user details
                    <div class="users_details">
                      <i class="fa fas-user"></i>
                      <h5 class="text-center">Emergency Case</h5>
                      <p class="text-center">some text here</p>
                    </div>
                    <div class="users_details mt-4">
                        <i class="fa fas-user"></i>
                        <h5 class="text-center">Working Time</h5>
                        <p class="text-center">some text here</p>
                      </div>
                      
         
        </div>
</div>
              
          </div>
          <div class="row">
                <div class="col-md-12 logs-page">
                 <h1 class="text-center d-flex">logs </h1>
              </div>
            </div>
          </form>           
      </div>
    <!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>