<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seven Health</title>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./newtheme/plugins/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./newtheme/plugins/meanmenu/meanmenu.css">
    <!-- fonts -->
    <link rel="stylesheet" href="./newtheme/fonts/ep-icon-fonts/css/style.css">
    <link rel="stylesheet" href="./newtheme/fonts/fontawesome-5/css/all.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./newtheme/css/settings.css">
    <link rel="stylesheet" href="./newtheme/css/style.css">
</head>

<body>
    <div class="site-wrapper">
        <header class="site-header">
            <div class="container">
                <div class="row justify-content-center align-items-center position-relative">
                    <div class="col-sm-3 col-6 col-lg-2 col-xl-2 order-lg-1">
                        <div class="brand">
                            {{!-- <a href=""><img src="./newtheme/image/main-logo.png" alt="" /></a> --}}
                            <a href="/" class="logo">
                                <h1>7<span class="health">Health</span></h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-3 col-xl-3 d-none d-sm-block order-lg-3">
                        <div class="header-btns">
                            <div class="btn-1">
                                <a href="/login">Sign In</a>
                            </div>
                            <div class="btn-2">
                                <a href="/signup">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <!-- Menu Block -->
                    <div class="col-sm-1 col-6 col-lg-7 col-xl-6 offset-xl-1 position-static order-lg-2">
                        <div class="main-navigation">
                            <ul class="main-menu">
                                <li class="menu-item has-dropdown">
                                    <a href="/">Home</a>
                                </li>
                                <li class="menu-item smooth-scroll"><a href="#features">Features</a></li>

                                <li class="menu-item"><a href="#services">Services</a></li>

                                <li class="menu-item"><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Hero Area  -->
        <section class="hero-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="hero-image">
                            <img src="./newtheme/image/hero-image.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="hero-content">
                            <h1>Welcome to Seven E-Health</h1>
                            <p>Health on the Go. Manage patient's history with just a scan.
                                Full chats and statistics available.
                            </p>
                            <div class="hero-form">
                                <form action="">
                                    <div class="form-group">
                                        {{!-- <input type="text" class="form-control" placeholder="Enter your email address"> --}}
                                        <button class="submit-btn"><a href="/signup">Get Started</a></button>
                                    </div>
                                    <p class="form-text">Already using Seven Health? <a href="/login" class="link">Sign
                                            In</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Features Area  -->
        <section class="feature-section">
            <div class="shape">
                <img src="./newtheme/image/landing-1-shape.svg" alt=" and svg of digital operations">
            </div>
            <div class="container">
                <div class="section-title text-center" id="features">
                    <h2>Our Features</h2>
                </div>
                <div class="row mb-d-30">
                    <div class="col-md-6 col-lg-4 mb--30">
                        <div class="feature-card">
                            <div class="card-icon">
                                <i class="icon icon-send "></i>
                            </div>
                            <div class="card-content">
                                <h3>QR Codes</h3>
                                <p>Get your personalised QR code <span href="">here</span>This has a full statistics of
                                    your health history.</p>
                                <a href="" class="btn btn-link right-icon">Learn more <i
                                        class="icon icon-minimal-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb--30">
                        <div class="feature-card">
                            <div class="card-icon">
                                <i class="icon icon-settings"></i>
                            </div>
                            <div class="card-content">
                                <h3>Manage Patient</h3>
                                <p>Reports of patient's consultation, test results, blood type can be manage using this
                                    platform.</p>
                                <a href="" class="btn btn-link right-icon">Learn more <i
                                        class="icon icon-minimal-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb--30">
                        <div class="feature-card">
                            <div class="card-icon">
                                <i class="icon icon-users-mm"></i>
                            </div>
                            <div class="card-content">
                                <h3>View History</h3>
                                <p>A patient as well as doctors of employers, can use this platform to view medical
                                    history.</p>
                                <a href="" class="btn btn-link right-icon">Learn more <i
                                        class="icon icon-minimal-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- Features Area  -->
        <section class="content-section-01" id="services">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5  col-sm-6 col-10">
                        <div class="content-img">
                            <img src="./newtheme/image/content-image-1.png" alt="">
                        </div>
                    </div>

                    <div class="col-xl-5 offset-xl-1 col-sm-6">
                        <div class="content-right-content">
                            <h2>Take Your Health Along</h2>
                            <p>
                                Onces registered, you can view you health Statistis via you phone by just scanning your
                                personalised QR code.
                                If anyone ask for your medical report, just let them scan.
                            </p>
                            <div class="content-link">
                                <a href="">Learn more <i class="icon icon-minimal-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-section-02">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 offset-xl-1 col-sm-6 col-10 order-sm-2">
                        <div class="content-img">
                            <img src="./newtheme/image/content-image-2.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5  col-sm-6 order-sm-1">
                        <div class="content-left-content">
                            <h2>Never miss a thing</h2>
                            <p>
                                People most likely get to miss a lot on how to take care of their health, so stay
                                concious about you health and relate with doctors and hospitals.
                            </p>
                            <ul class="content-list">
                                <li>
                                    <span><i class="icon icon-check-2"></i></span>Available Hospitals
                                </li>
                                <li>
                                    <span><i class="icon icon-check-2"></i></span>Patient's Statistics
                                </li>
                                <li>
                                    <span><i class="icon icon-check-2"></i></span>Doctors on Call.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="content-section-03">
            <div class="shape">
                <img src="./newtheme/image/landing-4.svg" alt="">
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6 col-10">
                        <div class="content-img">
                            <img src="./newtheme/image/content-image-3.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-5  offset-xl-1 col-lg-6 col-md-7 col-sm-6 ">
                        <div class="content-left-content">
                            <h2>Good Health, More Productivity</h2>
                            <p>
                                Productivity is directly proportional to the health of a person. Good health is wealth
                                so stay in it. Constantly connnect with a doctor and hospital to check yourself.
                            </p>
                            <div class="content-bottom-part">
                                <p>Interested to see how this works? Get Started to get to learn everything you
                                    need to know.</p>
                                <div class="content-btn">
                                    <a href="/signup" class="btn btn--primary">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <!-- Footer Section 06 -->
        <div class="footer-section" id="contact">
            <div class="container">
                <div class="footer-newsletter-section">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <div class="footer-newsletter-content">
                                <h2>Join our rich newsletter now</h2>
                                <p>To get more about Seven Health and to stay connected to our updates, join our Seven
                                    Group newsletter by subscribing below</p>
                            </div>
                        </div>
                        <div class="col-lg-7 col-xl-6">
                            <div class="footer-newsletter-form">
                                <form action="">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button class="submit-btn">Subscribe</button>
                                    </div>
                                    <p class="form-text"><i class="icon icon-lock"></i>Your data is protected. We never
                                        spam in your inbox</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row margin-decrese">
                    <div class="col-xl-4 col-lg-5 col-margin">
                        <div class="single-footer">
                            <div class="footer-title">
                                <a href="/" class="logo">
                                    <h1>7<span class="health">Health</span></h1>
                                </a>
                            </div>
                            <div class="footer-text">
                                <p>Your health is a priority, remember good health is wealth. So stay healthy and stay
                                    safe</p>
                                <p>@copyright:SevenAdvancedAcademy2019/2020</p>
                            </div>
                            <ul class="footer-social-list">
                                <li>
                                    <a href="https://www.facebook.com/sevenadvancedacademy">
                                        <i class="icon icon-logo-fb-simple"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/SevenAcademy7">
                                        <i class="icon icon-logo-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://sevenadvancedacademy.com/">
                                        <i class="icon icon-google"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6 offset-lg-1 col-margin">
                        <div class="single-footer">
                            <div class="footer-title">
                                <h6>Help Menu</h6>
                            </div>
                            <ul class="footer-list">
                                <li><a href="/">Home</a></li>
                                <li><a href="#features">Features</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="/signup">Get Started</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6 col-margin">
                        <div class="single-footer">
                            <div class="footer-title">
                                <h6>Support</h6>
                            </div>
                            <ul class="footer-list">
                                <li><a href="">Contact</a></li>
                                <li><a href="">Help & Support</a></li>
                                <li><a href="">Privacy Policy</a></li>
                                <li><a href="">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-margin">
                        <div class="single-footer">
                            <div class="footer-title">
                                <h6>Products</h6>
                            </div>
                            <ul class="footer-list">
                                <li><a href="">Seven Health</a></li>
                                <li><a href="">Medical History</a></li>
                                <li><a href="">Medical Statistics</a></li>
                                <li><a href="">Health Tips</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="./newtheme/plugins/jquery/jquery.min.js"></script>
    <script src="./newtheme/plugins/jquery/jquery-migrate.min.js"></script>
    <script src="./newtheme/plugins/bootstrap-4.3.1/js/bootstrap.bundle.js"></script>
    <script src="./newtheme/plugins/meanmenu/jquery.meanmenu.js"></script>
    <!-- Plugins JS -->
    <script src="./newtheme/js/active.js"></script>
</body>

</html>