<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Seven Health</title>
	<!-- Plugins CSS -->
	<link rel="stylesheet" href="../newtheme/plugins/bootstrap-4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../newtheme/plugins/meanmenu/meanmenu.css">
	<!-- fonts -->
	<link rel="stylesheet" href="../newtheme/fonts/ep-icon-fonts/css/style.css">
	<link rel="stylesheet" href="../newtheme/fonts/fontawesome-5/css/all.min.css">
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="../newtheme/css/settings.css">
	<link rel="stylesheet" href="../newtheme/css/style.css">
</head>

<body>
	<div class="site-wrapper">
		<header class="site-header">
			<div class="container">
				<div class="row justify-content-center align-items-center position-relative">
					<div class="col-sm-3 col-6 col-lg-2 col-xl-2 order-lg-1">
						<div class="brand">
							{{!-- <a href=""><img src="../newtheme/image/main-logo.png" alt="" /></a> --}}
							<a href="/" class="logo">
								<h1>7<span class="health">Health</span></h1>
							</a>
						</div>
					</div>
					<div class="col-sm-8 col-lg-3 col-xl-3 d-none d-sm-block order-lg-3">
						<div class="header-btns">
							<div class="btn-1">
								<a href="/login">Sign In</a>
							</div>
							<div class="btn-2">
								<a href="/signup">Get Started</a>
							</div>
						</div>
					</div>
					<!-- Menu Block -->
					<div class="col-sm-1 col-6 col-lg-7 col-xl-6 offset-xl-1 position-static order-lg-2">
						<div class="main-navigation">
							<ul class="main-menu">
								<li class="menu-item has-dropdown">
									<a href="/">Home</a>
								</li>
								<li class="menu-item smooth-scroll"><a href="#features">Features</a></li>

								<li class="menu-item"><a href="#services">Services</a></li>

								<li class="menu-item"><a href="#contact">Contact</a></li>
							</ul>
						</div>
						<div class="mobile-menu"></div>
					</div>
				</div>
			</div>
		</header>
		<!-- Hero Area  -->
		<section class="hero-area">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 order-lg-2">
						<div class="hero-image">
							<img src="../newtheme/image/hero-image.png" alt="">
						</div>
					</div>
					<div class="col-lg-6 order-lg-1">
						<div class="hero-content">
							<h1>Sign Up</h1>
							<p>Sign Up to Get Started</p>
							</p>
							<div class="hero-form">
								<form action="signup" method="POST" enctype="multipart/form-data">
									<div class="form-group">
										<input type="text" class="input-color form-control" placeholder="Full Name"
											name="name" required>
									</div>
									<div class="form-group">
										<input type="email" name="email" class="form-control"
											placeholder="Enter your email address" required>
									</div>
									<div class="form-group">
										<input type="number" class="input-color form-control" placeholder="Age"
											name="age" required>
									</div>
									<div class="form-group" required style="width: 280px;">
										<select class="custom-select form-control" style="background-color: #f1f7f8;">
											<option selected>Gender</option>
											<option value="female">Female</option>
											<option value="male">Male</option>
											<option value="other">Other</option>
										</select>
									</div>
									<div class="form-group">
										<input type="phone" class="input-color form-control" placeholder="Tel: Number"
											name="contact" required>
									</div>
									<div class="form-group">
										<input type="password" name="password" class="form-control"
											placeholder="Password" required>
									</div>
									<div class="form-group">
										<input type="password" class="input-color form-control"
											placeholder="Confirm password" name="confirmPassword">
									</div>
									<div class="form-group">
										<button class="submit-btn">Sign Up</button>
									</div>
									<div class="d-flex justify-content-center links text-dark">
										Have an account?<a href="/login">Login</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>



		<!-- Footer Section 06 -->
		<div class="footer-section" id="contact">
			<div class="container">


				<div class="row margin-decrese">
					<div class="col-xl-4 col-lg-5 col-margin">
						<div class="single-footer">
							<div class="footer-title">
								<a href="/" class="logo">
									<h1>7<span class="health">Health</span></h1>
								</a>
							</div>
							<div class="footer-text">
								<p>Your health is a priority, remember good health is wealth. So stay healthy and stay
									safe</p>
								<p>@copyright:SevenAdvancedAcademy2019/2020</p>
							</div>
							<ul class="footer-social-list">
								<li>
									<a href="https://www.facebook.com/sevenadvancedacademy">
										<i class="icon icon-logo-fb-simple"></i>
									</a>
								</li>
								<li>
									<a href="https://twitter.com/SevenAcademy7">
										<i class="icon icon-logo-twitter"></i>
									</a>
								</li>
								<li>
									<a href="https://sevenadvancedacademy.com/">
										<i class="icon icon-google"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-sm-4 col-6 offset-lg-1 col-margin">
						<div class="single-footer">
							<div class="footer-title">
								<h6>Help Menu</h6>
							</div>
							<ul class="footer-list">
								<li><a href="/">Home</a></li>
								<li><a href="#features">Features</a></li>
								<li><a href="#services">Services</a></li>
								<li><a href="/signup">Get Started</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-sm-4 col-6 col-margin">
						<div class="single-footer">
							<div class="footer-title">
								<h6>Support</h6>
							</div>
							<ul class="footer-list">
								<li><a href="">Contact</a></li>
								<li><a href="">Help & Support</a></li>
								<li><a href="">Privacy Policy</a></li>
								<li><a href="">Terms & Conditions</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-sm-4 col-margin">
						<div class="single-footer">
							<div class="footer-title">
								<h6>Products</h6>
							</div>
							<ul class="footer-list">
								<li><a href="">Seven Health</a></li>
								<li><a href="">Medical History</a></li>
								<li><a href="">Medical Statistics</a></li>
								<li><a href="">Health Tips</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Vendor JS-->
	<script src="../newtheme/plugins/jquery/jquery.min.js"></script>
	<script src="../newtheme/plugins/jquery/jquery-migrate.min.js"></script>
	<script src="../newtheme/plugins/bootstrap-4.3.1/js/bootstrap.bundle.js"></script>
	<script src="../newtheme/plugins/meanmenu/jquery.meanmenu.js"></script>
	<!-- Plugins JS -->
	<script src="../newtheme/js/active.js"></script>
</body>

</html>