<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seven Health</title>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./newtheme/plugins/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./newtheme/plugins/meanmenu/meanmenu.css">
    <!-- fonts -->
    <link rel="stylesheet" href="./newtheme/fonts/ep-icon-fonts/css/style.css">
    <link rel="stylesheet" href="./newtheme/fonts/fontawesome-5/css/all.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./newtheme/css/settings.css">
    <link rel="stylesheet" href="./newtheme/css/style.css">
</head>

<body>
    <div class="site-wrapper">
        <header class="site-header fixed-top " style="background-color: white;">
            <div class="container">
                <div class="row justify-content-center align-items-center position-relative">
                    <div class="col-sm-3 col-6 col-lg-2 col-xl-2 order-lg-1">
                        <div class="brand">
                            {{!-- <a href=""><img src="./newtheme/image/main-logo.png" alt="" /></a> --}}
                            <a href="/" class="logo">
                                <h1>7<span class="health">Health</span></h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-8 col-lg-3 col-xl-3 d-none d-sm-block order-lg-3">
                        <div class="header-btns">
                            <div class="btn-1">
                                <a href="/login">Sign In</a>
                            </div>
                            <div class="btn-2">
                                <a href="/signup">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <!-- Menu Block -->
                    <div class="col-sm-1 col-6 col-lg-7 col-xl-6 offset-xl-1 position-static order-lg-2">
                        <div class="main-navigation">
                            <ul class="main-menu">
                                <li class="menu-item has-dropdown">
                                    <a href="/">Home</a>
                                </li>
                                <li class="menu-item smooth-scroll"><a href="/#features">Features</a></li>

                                <li class="menu-item"><a href="/#services">Services</a></li>

                                <li class="menu-item"><a href="/#contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Vendor JS-->
        <script src="./newtheme/plugins/jquery/jquery.min.js"></script>
        <script src="./newtheme/plugins/jquery/jquery-migrate.min.js"></script>
        <script src="./newtheme/plugins/bootstrap-4.3.1/js/bootstrap.bundle.js"></script>
        <script src="./newtheme/plugins/meanmenu/jquery.meanmenu.js"></script>
        <!-- Plugins JS -->
        <script src="./newtheme/js/active.js"></script>
</body>